:root {
    --dark-base: #1c1c1c;
    --light-base: #fefefe;
}


body {
    background-color: black;
    color: var(--dark-base);
    margin: 0;
}

#sec1 {
    height: 100vh;
    overflow-y: hidden;
}

.intro {
    display: flex;
    flex-direction: row;
    background-color: var(--light-base);
    margin: auto;
    margin-top: 5vh;
    height: 90%;
    width: 95%;
}


#title {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%);
    width: max-content;
}

#intro-left {
    width: 100%;
    height: 100%;
    min-width: max-content;
    position: relative;
}
#intro-right {
    width: 100%;
    height: 100%;
    position: relative;
}

h1 {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 4rem;
    margin-top: 0.01rem;
    margin-bottom: 0.01rem;
}
h2 {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    margin-bottom: 0rem;
    font-size: 2rem;
}

@media (max-width: 900px) {
    .intro {
        display: flex;
        flex-direction: column;
        background-color: var(--light-base);
        margin: auto;
        margin-top: 5vh;
        height: 90%;
        width: 95%;
    }
    #title {
        left: 2rem;
        top: 50%;
        -ms-transform: translate(0, -80%);
        transform: translate(0, -80%);   
    }

    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    #title {
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -80%);
        transform: translate(-50%, -80%);
    }

    h1 {
        font-size: 12vw;
    }
    h2 {
        font-size: 7vw;
    }
}